.container{
    display: grid;
    padding: 16px;
    grid-gap: 16px;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto 50px 50px 50px 50px 50px;
    grid-template-areas:
        "header-a"
        "main-b"
        "side-c"
        "side-d"
        "side-e"
        "."
        "footer-f";
    background-color: #DEC5E3;
}

.main-style{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#header-a{
    grid-area: header-a;
    background-color: #CDEDFD;
}

#main-b{
    grid-area: main-b;
    background-color: #B6DCFE;
    padding: 16px;
}

#footer-f{
    grid-area: footer-f;
    background-color: #A9F8FB;
}

#side-c{
    grid-area: side-c;
    background-color: #81F7E5;
}

#side-d{
    grid-area: side-d;
    background-color: #81F7E5;
}

#side-e{
    grid-area: side-e;
    background-color: #81F7E5;
}

@media only screen and (min-width: 576px) {
    .container{
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 50px 190px 100px auto 50px;
        grid-template-areas:
        "header-a side-c side-c"
        "main-b side-c side-c"
        "main-b side-e side-d"
        "main-b side-e ."
        "footer-f footer-f footer-f";
    }
}